body {

}

.landing-page-title {
    text-align: center;
}

.landing-page-primary-image-container {
    height: 50%;
    width: 50%;
    border: 1px solid black;
    margin: auto;
}

.landing-page-primary-image {
    max-height: 100%;
    max-width: 100%;
}
